*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}
.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 400px;
    align-items: center;
}
img {
    height: 220px;
    width: 350px;
    margin: 5px;
    border-radius: 10px;
}