*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.685);
    padding: 45px;
}
.container {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 400px;
    align-items: center;
}
img {
    height: 300px;
    width: 350px;
    margin: 15px;
    border-radius: 10px;
}
.txt {
    text-align: center;
}
h3 {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.473);
}