*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}
.container {
    background-color: white;
    height: 450px;
    width: 400px;
    align-items: center;
}
img {
    height: 150px;
}